.card{
    border: 2px solid black;
    max-width: 500px;
    height: max-content;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center
    ;
}

.card-header{
    display: flex;
    width: 100%;
    border: 0px solid rgb(255, 0, 0);
    align-items: center;

}

.card-pic{
    border: 0px solid rgb(60, 0, 255);
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
}
.card-pic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
}

/* ---------------- ----------- --------------- ------------------- */

.card-image{
    border: 2px solid green;
}
.card-image img{
    width: 100%;
    
}
.card-content{
    border-bottom: 1px solid rgb(181, 181, 181);
    width: 100%;
    padding-bottom: 10px;
}

/* ------------ ------------ ---------------- ------------- ----------- */

.add-comment{
    border: 0px solid rgb(60, 0, 255);
    width: 100%;
    display: flex;
    align-items: center;
}
.add-comment input{
    font-size: 15px;
    border: 0px;
    border: 0px solid rgb(171, 0, 0);
    outline:none ;
    margin: auto 10px;
}

.add-comment button{
    font-size: 15px;
    width: 100px; 
    color: rgb(126, 126, 237);
    border: 0px solid rgb(171, 0, 0);
    font-weight: bolder;
}

.add-comment , .add-comment input , .add-comment button{
    background-color: white;
}